<template>

  <div class="container">
      <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">Registrar tareas</div>
      <div class="card-body">
          <form @submit.prevent="handleSubmitForm">
          <div class="form-group">
            <label>nombre</label>
            <input type="text" class="form-control" v-model="tarea.nombre" required />
          </div>

          <div class="form-group">
            <label>descripcion</label>
            <textarea type="text" class="form-control" v-model="tarea.descripcion" required></textarea>
          </div>

          <div class="form-group">
            <button class="btn btn-primary">crear</button>
          </div>
        </form>
      </div>
    </div>

  </div>
      </div>
  </div>
</template>

<script>
import tareasService from "../services/tareasService";
export default {
  data() {
    return {
      tarea: {
        nombre: "",
        descripcion: "",
      },
    };
  },
  methods: {
    handleSubmitForm() {
      tareasService
        .create(this.tarea)
        .then(() => {
          this.tarea = {
            nombre: "",
            descripcion: "",
          };
          location.href = '/';
        }).catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>