<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">Atualizar tareas</div>
          <div class="card-body">
            <form @submit.prevent="handleUpdateForm">
              <div class="form-group">
                <label>nombre</label>
                <input type="text" class="form-control" v-model="tarea.nombre" required />
              </div>

              <div class="form-group">
                <label>descripcion</label>
                <textarea type="text" class="form-control" v-model="tarea.descripcion" required></textarea>
              </div>

              <div class="form-group">
                <button class="btn btn-primary">actualizar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import tareasService from "../services/tareasService";

export default {
  data() {
    return {
      tarea: {},
    };
  },
  created() {
    tareasService.get(this.$route.params.id).then((res) => {
      this.tarea = res.data;
    });
  },
  methods: {
    handleUpdateForm() {
      this.tarea.updated_at = Date;
      tareasService
        .update(this.$route.params.id, this.tarea)
        .then((res) => {
          console.log(res);
         this.$router.push({ path: '/' })
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>