<template>
  <div class="row">
    <div class="col-md-12">
      <router-link :to="{name: 'registrar'}" class="btn btn-primary float-right">registrar</router-link>
      <br />
      <br />
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>nombre</th>
            <th>descripcion</th>

            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="tarea in tareas" :key="tarea.id">
            <td>{{ tarea.nombre }}</td>
            <td>{{ tarea.descripcion }}</td>
            <td>
              <router-link
                :to="{name: 'editar', params: { id: tarea.id }}"
                class="btn btn-success"
              >editar</router-link>
              <button @click.prevent="deleteTarea(tarea.id)" class="btn btn-danger">eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import tareasService from "../services/tareasService";

export default {
  data() {
    return {
      tareas: [],
    };
  },
  created() {
     tareasService.getAll().then((res) => {
        this.tareas = res.data;
      })
      .catch((error) => {
        console.log(error);
      });    
  },

  methods: {
    deleteTarea(id) {
      let indexOfArrayItem = this.tareas.findIndex((i) => i.id === id);

      if (window.confirm("Estas seguro de eliminar esta tareas?")) {
        tareasService.delete(id).then(() => {
            this.tareas.splice(indexOfArrayItem, 1);
          })
          .catch((error) => {
            console.log(error);
          });
      
      }
    },
  },
};
</script>

<style>
.btn-success {
  margin-right: 10px;
}
</style>