<template>
  <div>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img
          src="./assets/logo.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt
        />
        Crud tareas
      </a>

      <ul class="nav navbar-nav flex-row float-right">
        <li class="nav-item">
          <router-link class="btn btn-primary" to="/">tareas</router-link>
        </li>
      </ul>
    </nav>

    <div class="container mt-5">
      <router-view></router-view>
    </div>
  </div>
</template>